* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  height: 100%;
}

button {
  font-size: 1.2rem;
  padding: 0 1rem;
  width: fit-content;
  height: 2rem;
}

.btn {
  margin-top: 1rem;
  display: flex;
  color: white;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  align-self: center;
  background: #48b357;
  background: linear-gradient(111deg, #48b357 0%, #42a500 100%);
  width: 100px;
  height: 2rem;
  border-radius: 5%;
}

/* Section 1.0 - Navbar */
header {
  height: 70px;
  position: fixed;
  width: 100%;
  background-color: white;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  margin: 0 14%;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.navbar a span {
  font-weight: bold;
  color: green;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.nav-branding {
  font-size: 2rem;
}

.nav-branding p {
  font-size: 1.5rem;
}

.nav-branding p i {
  color: #7aff59;
  text-shadow: #beddff 1px 1px 5px;
}

.nav-link {
  transition: 0.3s ease;
}

.nav-link:hover {
  color: #7aff59;
}

/* Section 1.1 - Navbar hamburger menu*/
.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #2c7a18;
}

/* Section 2 - Showcase*/
#showcase {
  padding-top: 70px;
  background-color: green;
  width: 100%;
  height: 40rem;
  background-image: url(/img/showcase.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#showcase .hide {
  display: none;
}

#showcase .info {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-left: 2rem;
  margin-left: 2rem;
  color: white;
  width: 30rem;
  height: 95%;
  background-color: rgba(0, 0, 0, 0.445);
}

#showcase .info h1 {
  font-size: 2.4rem;
}

#showcase .info h3 {
  margin-top: 1rem;
}

#showcase .info .btn {
  margin-top: 1rem;
  color: white;
}

#showcase .title {
  font-size: 7rem;
  color: white;
  text-shadow: 5px 5px 5px black;
}

#showcase .title h1 {
  display: flex;
  align-items: center;
}

#showcase .title img {
  width: 100px;
  height: 100px;
}

#showcase .title span {
  color: #7aff59;
  font-weight: bold;
}

.content {
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

/* Section 2.1 - Courses list*/
#courses {
  margin: 0 5rem;
  height: fit-content;
}

#courses .courseswrap {
  display: flex;
  justify-content: space-evenly;
}

#courses .courseswrap .columntransform {
  display: flex;
  flex-direction: row;
  justify-content: space;
}

#courses .courseswrap .columntransform article {
  margin-left: 1rem;
  gap: 5px;
  width: 427px;
  height: 24rem;
}

#courses .courseswrap .columntransform article .courseimg {
  width: 427px;
  height: 284.667px;
}

#courses .courseswrap .columntransform article h4 {
  padding-top: 0.6rem;
  text-align: center;
  font-size: 1.2rem;
}

#courses .courseswrap .columntransform article p {
  padding-top: 1rem;
  text-align: center;
}

#courses #secondwrap {
  margin-top: 1rem;
}

/* Section 2.2 - Introduction*/
#introduction {
  height: 400px;
  margin-top: 3rem;
  text-align: left;
  display: flex;
  flex-direction: row;
}

#introduction .contentwrapper {
  width: 1000px;
}

#introduction .contentwrapper p {
  margin-top: 2rem;
}

#introduction #contentpic {
  margin-left: 100px;
  width: 200px;
  height: 200px;
}

footer {
  background-color: gray;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer a {
  color: white;
}

/* Section 3 - Blog*/
.blogswrapper {
  padding-top: 70px;
  display: flex;
  justify-content: space-between;
}

.blogswrapper #author {
  margin-left: 2rem;
  margin-right: 8rem;
  margin-top: 5rem;
  max-width: 250px;
}

.blogswrapper #author .sectionwrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blogswrapper #author .sectionwrapper img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.blogswrapper #author .sectionwrapper h1 {
  padding-top: 1rem;
}

.blogswrapper #author .sectionwrapper h4 {
  padding-top: 0.4rem;
}

.blogswrapper #author .sectionwrapper p {
  padding-top: 1rem;
}

#blogs {
  display: flex;
  margin-left: 13rem;
  flex-direction: column;
  height: 92vh;
}

#blogs :first-child {
  margin-top: 2rem;
}

#blogs article {
  display: flex;
  max-width: 1000px;
  height: fit-content;
  align-items: center;
}

#blogs article img {
  width: 300px;
  height: 200px;
}

#blogs article h4 {
  color: gray;
}

#blogs article p {
  padding-top: 0.5rem;
}

#blogs article .bloginfo {
  padding-left: 2rem;
}
/*# sourceMappingURL=style.css.map */