@media(max-width:768px) {
  /* Section 1.1 Navbar hamburger menu*/
  .hamburger {
    display: block;

  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #134b0b8f;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    font-weight: bold;
    a {
      color: white;
    }
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}

@media(max-width:1768px) {

  #showcase {
    display: flex;
    flex-direction: column;

    .hide {
      display: block;
    }

    .nonhide {
      display: none;
    }

    .info {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin: 0;
      padding: 0;

      h1 {
       text-align: center;
        margin-top: 2rem;
      }

      h3 {
        margin-top: 2rem;
      }
    }
    .title {
      h1 {
        font-size: 3rem;
      }

      img {
        width: 35px;
        height: 35px;
      }
    }
  }

  #courses {
    .courseswrap {
      .columntransform {
        flex-direction: column;
        align-content: center;
      }
    }
  }
}

@media(max-width:876px) {

  #courses {
    margin: 0;
    .courseswrap {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .columntransform {

        margin: 0;

        .article {
          gap: none;
          margin: none;
          width: 100%;
          .courseimg {
            width: 100%;
          }
        }
      }
    }
  }

  #introduction {
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    padding: none;
    padding-bottom: 2rem;
    
    .contentwrapper {
      width: inherit;

      h1 {
        padding-left: 2rem;
      }

      p {
        padding-left: 1rem;
      }
    }

    #contentpic {
      margin-left: -32px;
      align-self: center;
      margin: 0;
      padding-top: 1rem;
    }
  }
}