* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

button {
  font-size: 1.2rem;
  padding: 0 1rem;
  width: fit-content;
  height: 2rem;

}

/* Section 1.0 - Navbar */

header {
  background-color: rgb(255, 255, 255);
}

li {
  list-style: none
;}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  margin: 0 14%;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;

   a {

    span {
      font-weight: bold;
      color: green;
    }
   }
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.nav-branding {
  font-size: 2rem;
}

.nav-branding p {
  font-size: 1.5rem;
}

.nav-branding p i {
  color: dodgerblue;
  text-shadow: rgb(190, 221, 255) 1px 1px 5px;
}

.nav-link{
  transition: 0.3s ease;
}

.nav-link:hover{
  color: dodgerblue;
}
/* Section 1.1 - Navbar hamburger menu*/

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  background-color: dodgerblue;
}

#showcase {
  background-color: green;
  width: 100%;
  height: 40rem;
  background-image: url(/img/showcase.jpg);
  background-position: center;
  background-position-y: 95rem;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .info {
    padding-top: 2rem;
    padding-left: 2rem;
    margin-left: 2rem;
    color: white;
    width: 30rem;
    height: 37rem;
    background-color: rgba(0, 0, 0, 0.445);

    h1 {
      font-size: 2.4rem;
    }

    h3 {
      margin-top: 1rem;
    }

    button {
      margin-top: 0.5rem;
    }
  }

  .title {
    font-size: 7rem;
    color: white;
    text-shadow: 5px 5px 5px black;
    span {
      color: rgb(122, 255, 89);
      font-weight: bold;
    }
  }
}