* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  height: 100%;
}

button {
  font-size: 1.2rem;
  padding: 0 1rem;
  width: fit-content;
  height: 2rem;

}

/* Section 1.0 - Navbar */

header {
  height: 70px;
  position: fixed;
  width: 100%;
  background-color: white;
}

li {
  list-style: none
;}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  margin: 0 14%;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;

   a {

    span {
      font-weight: bold;
      color: green;
    }
   }
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.nav-branding {
  font-size: 2rem;
}

.nav-branding p {
  font-size: 1.5rem;
}

.nav-branding p i {
  color: rgb(122, 255, 89);
  text-shadow: rgb(190, 221, 255) 1px 1px 5px;
}

.nav-link{
  transition: 0.3s ease;
}

.nav-link:hover{
  color: rgb(122, 255, 89);
}
/* Section 1.1 - Navbar hamburger menu*/

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: rgb(44, 122, 24);
}

/* Section 2 - Showcase*/
#showcase {
  padding-top: 70px;
  background-color: green;
  width: 100%;
  height: 40rem;
  background-image: url(/img/showcase.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .hide {
    display: none;
  }
  .info {
    padding-top: 2rem;
    padding-left: 2rem;
    margin-left: 2rem;
    color: white;
    width: 30rem;
    height: 95%;
    background-color: rgba(0, 0, 0, 0.445);

    h1 {
      font-size: 2.4rem;
    }

    h3 {
      margin-top: 1rem;
    }

    button {
      margin-top: 0.5rem;
    }
  }

  .title {

    h1 {
      display: flex;
      align-items: center;
    }

    img {
      width: 100px;
      height: 100px;
    }

    font-size: 7rem;
    color: white;
    text-shadow: 5px 5px 5px black;

    span {
      color: rgb(122, 255, 89);
      font-weight: bold;
    }
  }
}

.content {
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

/* Section 2.1 - Courses list*/
#courses {
  margin: 0 5rem;
  height: fit-content;

  .courseswrap {
    display: flex;
    justify-content: space-evenly;

    .columntransform {
      display: flex;
      flex-direction: row;
      justify-content: space;

      article {
        margin-left: 1rem;
        gap: 5px;
        width: 427px;
        height: 24rem;
  
        .courseimg {
          width: 427px;
          height:  284.667px;
        }
  
        h4 {
          padding-top: 0.6rem;
          text-align: center;
          font-size: 1.2rem;
        }
  
        p {
          padding-top: 1rem;
          text-align: center;
        }
      }
    }
  }

  #secondwrap {
    margin-top: 1rem;
  }
}
/* Section 2.2 - Introduction*/
#introduction {
  height: 400px;
  margin-top: 3rem;
  text-align: left;
  display: flex;
  flex-direction: row;

  .contentwrapper {
  
    width: 1000px;
    p {
      margin-top: 2rem;
    }
  }

  #contentpic {
    margin-left: 100px;
    width: 200px;
    height: 200px;
  }
}

footer {
  background-color: gray;
  width: 100%;
  height:5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    color: white;
  }
}

/* Section 3 - Blog*/

#blogs {
  padding-top: 70px;
  display: flex;
  margin-left: 13rem;
  flex-direction: column;
  height: 92vh;

  :first-child {
    margin-top: 2rem;
  }

  article {
    display: flex;
    width: 1000px;
    height: fit-content;
    align-items: center;

    img {
      width: 300px;
      height: 200px;
    }

    h4 {
      color: gray;
    }

    p {
      padding-top: 0.5rem;
    }

    .bloginfo {
      padding-left: 2rem;
    }
    
    
  }
}